* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div-container {
    border: 3px solid red;

    display: flex;
    flex-wrap: wrap;
}

.pixel-div {
    width: 16px;
    height: 16px;
}

.mouse-over {
    background-color: black;
}